.new-expense {
  background: rgba(180, 173, 173, 60%);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  /* font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid white;
  background-color: #640590;
  color: white;
  border-radius: 12px;
  margin-right: 1rem; */

  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  color: #FAA094FF;
  background-color: #008C76FF;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  border: #008C76FF;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #008C76FF;
  color: #FAA094FF;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}